

*,
*:after,
*:before{
	box-sizing: border-box;
    font-family: 'Cinzel', serif;
}


.seccion-caja{
	height: auto;
	position: relative;
	display: flex;	
    flex-direction: column;
}
.contenedor-imagen {
    height: 1000px;
}
.contenedor-imagen2 {
	height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
}
.imagenportada{
	width: 100%;
    height: 100%;
    background: url(../img/trama-logo-nombre-1400.png);
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: 300%;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
}
.nombre {
    display:none;
}

.vertical-text{
    padding: 40px;
    margin: 15px;
	width: 10vw;
    letter-spacing: 1px;
    font-family: 'Cinzel', serif;
    font-size: 6vw;
    white-space: nowrap;
    text-align: center;
    flex-shrink: 0;
    text-transform: uppercase;
    background-color: #fff;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
}
.vertical-text__text {
    transform: rotate(-180deg);
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
}
.btnmenu {
    align-self: flex-start;
    background-color: #ffa400;
    border: 6px solid #141414;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    display: flex;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    margin-left: 735px;
    position: fixed;
}
.btnmenu:hover {
    color: blue
    
}
.btnmenu-2 {
    background-color: #ffa400;
    border: 6px solid #141414;
    border-radius: 50px;
    width: 700px;
    height: 85px;
    /* flex-wrap: nowrap; */
    font-size: 30px;
    /* margin-left: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnmenu-2:visited {
    color: blue;
  }

.divmenu {
    height: 650px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    background-color: #ffff;
    font-family: 'Cinzel';
    font-size: 55px;
    text-align: center;
    border-radius: 50px;
    top: 163px;
    position: fixed;
    justify-content: center;
    margin: 81px;
    display: grid;
    visibility: hidden;
   
}

  
p {
    font-family:sans-serif;

}
.fondo-negro {
    padding: 6em 3em 8em 3em; 
    color:#fff;
    background-color:#141414;
    
}

.content {
	display: flex;
    flex-wrap: wrap;
    
}
/*FUNCIONAAAAAAAA, poniendo una clase solo para la foto
en cuestion*/
.solo-para-mifoto {
    display: flex;
    flex-basis: auto;
    place-content: flex-end;
}
  

.texto-servicios {
    padding: 3em 3em 3em 3em;
    font-size: 22px;
    background-color: #e3dfdf;
    color: #141414;
    margin: 0;
}
.titulo-ser {
    width: auto;
    height: 800px; 
    font-family: 'Cinzel', serif;
    font-size: 6vw;
    white-space: nowrap;
    text-align: center;
    
    display: flex;
    align-items: center;
  
}
.foto-dise침o-web {
    height: auto;
    width: auto;
    display: flex;
    background: url(../img/diseno-web_man35p_c_scale\,w_610.png);
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    flex-wrap: wrap;
    flex-basis: 880px;
}

/* estas propiedades (background: url(../img/ux-ui\,w_631.png) #ffa400;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 880px;) han sido fundamentales para 
    que la imagen cargada desde css se posicionar치 usando
    todo el espacio disponible*/
.foto-ux-ui {
    background: url(../img/ux-ui\,w_631.png) #ffa400;
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 880px;
}
.foto-retrato  {
    background: url(../img/andrea-casanova_wxenzr_c_scale\,w_917.png) #ffa400;
    background-repeat:no-repeat;
    
    display: flex;
    
    flex-basis: 1024px;
    
    
}
.foto-marketing {
    background: url(../img/marketing\,w_637.png) #ffa400;
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 880px;
}

.shop-art {
    background: url(../img/art-shop_oaplpt_c_scale\,w_623.png) #ffa400;
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 880px;
}

.imagenfooter {
    width: 100%;
    height: 100%;
    background: url(../img/trama-blanco2_bxgrqg_c_scale\,w_890.png) #ffa400;
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: 300%;
	/*display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;*/
}
.btncontact {
    position: relative;
    background-color: #ffa400;
    border: 6px solid #141414;
    border-radius: 40px;
    width: 500px;
    height: 90px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    margin: 1em;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    margin: 10px;
    
  }
  .contact {
    background-color: #ffff;
    font-family: 'Cinzel';
    font-size: 55px;
    text-align: center;
    border-radius: 50px;
    margin: 100px;
    margin-block-end: 600px;
  }


  .btnfooter {
    flex-direction: column;
    display: flex;
    align-content: center;
    flex-wrap: wrap-reverse;
    margin-block-start: -164px;
    margin-block-end: 21em;
    margin-bottom: 50px;
  }
  .logomio {
    display: flex;
    justify-content: center;
    margin-top: 115px;
  }

  
  .btnrrss {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-block-start: auto;
    
   
    justify-content: space-evenly;
  }

  input[type="checkbox"] {
    appearance: none;
    width: 45px;
    height: 45px;
    background-color:#ffa400;
    border: 2px solid #141414;
    border-radius: 50%;
}

input[type="checkbox"]:checked {  
    background-color: blue;
}
label {
    font-size: 35px;
}
.ocultar{
    visibility: hidden;
    opacity: 0;
    transition: visibility 5s, opacity 0.9s linear;
}
.mostrar {
    visibility: visible;
    opacity: 1;
    transition: visibility 5s, opacity 0.9s linear;

  }
  /*estilos para @query */

  
/*estilos para @query */

@media screen and (min-width:1000px ){ 
    body {
        padding: 0%;
        margin: 0%;
          
    }
    
    .contenedor-imagen {
        flex-direction: row;
        display: flex;
        width: 50vw;
        height: 100vh;
    }
    .contenedor-imagen2 {
        width: vw;
        height: auto;
    }

    .vertical-text {
        letter-spacing: 1px;
        font-family: 'Cinzel', serif;
        font-size: 5em;
        /* text-align: center; */
        text-transform: uppercase;
        white-space: nowrap;
        background-color: #fff;
        display: flex;
        justify-content: center;
        padding: 123px;
        /* margin-left: 59px; */
        margin-top: 321px;
        transform: rotate(90deg) 
    }

    .vertical-text__text {
        transform: rotate(270deg);
        transform: rotate(180deg);
    }
    .servicios {
        transform: rotate(270deg);
        width: -webkit-fill-available;
    }
    .foto-retrato {
        margin-block-end: 400px;
        background: url(../img/andrea-casanova_wxenzr_c_scale\,w_917.png) #ffa400;
        background-repeat: no-repeat;
        display: flex;
        flex-basis: 60%;
    }
    
    .fondo-negro {
        padding: 3em 9em 4em 9em;
        color: #141414;
        background-color: #e3dfdf;
        width: 70%;
        display: flex;
        flex-direction: column;
        font-size: 33px;
        margin-top: -12em;
    }
    .titulo-ser {
        width: 45%;
        height: 1000px;
        font-size: 4em;
        align-items: self-end;

        
    }
    .content {
        display: flex;
        flex-direction: row;
    }
    .texto-servicios {
        
        width: 60%;
        height: auto;
        font-size: 5px;
        padding: 42px;
    }
    .foto-dise침o-web {
        width: 35%;
    }
    .btnmenu {
        background-color: #ffa400;
        border: 6px solid #141414;
        border-radius: 100%;
        width: 215px;
        height: 215px;
        /* display: flex; */
        font-family: 'Cinzel', serif;
        font-size: 40px;
        /* margin-left: auto; */
        justify-content: center;
        align-items: center;
        /* margin: 86% auto; */
        margin-left: 130%;
        position: fixed;
    }
    .imagenportada {
        background: url(../img/nueva\ portada_1400.png) #ffa400;
        width: 100%;
        height: 100%;
        background-size: 130%;
        background-position: 50% 50%;
        background-repeat: no-repeat;   
    } 
    .imagenfooter {
        width: 100%;
        height: 100%;
        background: url(../img/trama-blanco2_bxgrqg_c_scale\,w_890.png) #ffa400;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 130%;
    }
    .btnfooter {
        flex-direction: column;
        display: flex;
        align-content: center;
        flex-wrap: wrap-reverse;
        margin-block-start: -164px;
        margin-block-end: 11em;
        margin-bottom: -140px;
    }
    .contact {
        background-color: #ffff;
        font-family: 'Cinzel';
        font-size: 80px;
        text-align: center;
        border-radius: 91px;
        margin: 75px;
        margin-block-end: 250px;
        padding: 100px;
    }

    .nombre {
        display: block;
    }
}
    
    /*

    .solo-para-mifoto {
        flex-direction: row;
        width: 50vw;
        height: 660px;
    }
    .vertical-text {
        font-size: 2vw;
        padding: 0;
        margin: 17px;
        width: 2vw;
    }

    .btnmenu {
        width: 80px;
        height: 80px;
        font-size: 19px;
        border: 2px solid #141414;
        border-radius: 100px;
        margin: 30px auto;
        margin-left: 1700;
    }

    .foto-retrato {
        height: 660px;
        width: 1000px;
        background: url(../img/andrea-casanova_wxenzr_c_scale\,w_613.png);
        background-repeat:no-repeat;
        background-position: 50% 50%;
    }
    .fondo-negro {
        display: flex;
        flex-direction: column;
        width: 45vw;
        height: 660px;
        font-size: unset;
    }
    .titulo-ser {
        height: 660px;
        width: 60px;
        font-size: 2vw;
        justify-content: center;
    }

    .foto-dise침o-web {
        width: 400px;
        height: 380px;
        margin: 68px;
        background: url(../img/diseno-web_man35p_c_scale\,w_396.png);
        background-repeat: no-repeat;
    }
    .content {
        display: flex;
        flex-direction: row;

    }

    .texto-servicios {
        padding: 1em 1em 1em 1em;
        font-size: 15;
        background-color: #e3dfdf;
        color: #141414;
        margin: 0;
        width: 400px;

    }
    .divmenu {
        width: auto;
        height: 400px;
    }
    */


